%h1 Listing posts

%div{ 'ng-app' => 'posts'}
  Search:
  %input{ ng_model: 'query' }
  %div{ ng_controller: "PostsCntl" }
    %ul
      %li{ ng_repeat: "post in posts | filter:query" }
        {{post.title}}
        %p {{post.intro}}


= link_to 'New Post', new_post_path
